[submodule "free-for-dev"]
	path = free-for-dev
	url = https://github.com/rajputganesh217/free-for-dev.git
[submodule "mytask7"]
	path = mytask7
	url = https://github.com/rajputganesh217/mytask7.git
[submodule "merge_confilct_demo"]
	path = merge_confilct_demo
	url = https://github.com/rajputganesh217/merge_confilct_demo.git
[submodule "Cloudethix_git_ganesh"]
	path = Cloudethix_git_ganesh
	url = https://github.com/rajputganesh217/Cloudethix_git_ganesh.git
